
/* base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
@font-face {
    font-family: frieren;
    src: url(font/Tolkien.ttf);
}

@font-face {
    font-family: main;
    src: url(font/main-font.ttf);
}

@font-face {
    font-family: main-bold;
    src: url(font/main-font-bold.ttf);
}

a {
    color: white;
    text-shadow: black 2px 3px 4px;
}
a:visited {
    color: white;
}
a:hover {
    color: #1f94a3;
}

body {
    background-color: #C6E7FF;
    font-family: sans-serif;
}



/* off-screen-menu */
.off-screen-menu {
    background-image: url(/IMG/Bck/bck-hamber.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: #000000 7px 5px 6px 8px;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
    font-family: frieren;
    color: azure;
}
.off-screen-menu.active {
    right: 0;
}



/* nav */
nav {
    padding: 1rem;
    display: flex;
    background-color: Azure;
    box-shadow: purple 0px 5px 15px 0px;
    

}



/* ham menu */
.ham-menu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
}
.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: #000000;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: white;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

p, h1,h2{
    font-family: main-bold;
}