* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-y: hidden;
}
@font-face {
    font-family: jjk-font;
    src: url(font/Jujutsu\ Kaisen.ttf);
}

.slider-container .slider-konten{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: jjk-font;
}

.slider-container .slider-konten::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.295), transparent);
}

.slider-container .slider-konten img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-isi .judul {
    font-size: 6rem;
    color: black;
    text-shadow: rgb(255, 255, 255) 1px 0px 2px;
}

.slider-konten .slider-isi{
    position: absolute;
    text-align: center;
}

.slider-konten .slider-isi {
    margin-bottom: 20px;
    line-height: 20px;
}

.slider-isi .isi {
    width: 100ch;
    
}

.slider-isi .tombol {
    color: azure;
}